NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_API_CRM_PATH=/crm
NEXT_PUBLIC_API_STATS_PATH=/stats
NEXT_PUBLIC_API_USERS_PATH=/users/{domain}/search
NEXT_PUBLIC_API_ROLES_PATH=/roles/{domain}
NEXT_PUBLIC_API_ANIMALS_PATH=/animals
NEXT_PUBLIC_API_LOCATIONS_PATH=/locations
NEXT_PUBLIC_API_ANIMAL_TYPES_PATH=/animal_types
TIME_ZONE_NAME=Berlin