@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  background-color: #f8f9fd;
  font-family: "Inter", sans-serif;
}
.react-datepicker-popper {
  z-index: 9999 !important;
  max-width: 100vw;
  overflow-x: auto;
}
.custom-calendar {
  min-width: 260px;
  box-shadow: 0px 4px 10px rgba(182, 187, 235, 0.3);
  border-radius: 10px;
}
.react-datepicker {
  border-radius: 14px !important;
}
.react-datepicker__header {
  border-radius: 14px !important;
}
.custom-calendar .react-datepicker__day--outside-month {
  visibility: hidden;
}
.custom-calendar .react-datepicker {
  background-color: #f8f9fd;
}

.custom-calendar .react-datepicker__day {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
}
.custom-calendar .react-datepicker__day:not([aria-disabled="true"]):hover {
  border-radius: 4px;
}
.custom-calendar
  .react-datepicker__day--selected:not([aria-disabled="true"]):hover,
.react-datepicker__day--in-selecting-range:not([aria-disabled="true"]):hover,
.react-datepicker__day--in-range:not([aria-disabled="true"]):hover {
  background: #4855cc;
}
.custom-calendar
  .react-datepicker__day--in-selecting-range:not([aria-disabled="true"]):hover,
.react-datepicker__day--in-range:not([aria-disabled="true"]):hover {
  background: #4855cc;
}
.custom-calendar .react-datepicker__day--in-selecting-range {
  border-radius: 50%;
  background: #b6bbeb;
  color: black;
}
.custom-calendar .react-datepicker__day--selected {
  border-radius: 50%;
  background: #b6bbeb;
  color: black;
}
.custom-calendar .react-datepicker__day--today {
  border-radius: 50%;
  background: #b6bbeb;
  color: black;
}
.react-datepicker__portal {
  background: rgba(0, 0, 0, 0.4) !important; /* Черный полупрозрачный фон */
}
.custom-calendar .react-datepicker__navigation-icon {
  stroke: #b6bbeb;
}

.custom-calendar .react-datepicker__current-month {
  text-transform: capitalize;
  margin-bottom: 8px;
}
.custom-calendar .react-datepicker__header {
  border-bottom: none;
  background-color: white;
}

.custom-calendar .react-datepicker__day-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #a5b4fc;
}
.custom-calendar.hide-today .react-datepicker__day--today {
  background: transparent;
  color: inherit;
  border: none;
}

.custom-calendar .react-datepicker__day:hover {
  background-color: #d1d5fa; /* Нежный синий цвет при наведении */
  color: black; /* Цвет текста */
  border-radius: 50%; /* Округление как для выбранных дат */
  transition: background-color 0.3s ease; /* Плавный переход */
}

.custom-calendar .react-datepicker__day--in-selecting-range:hover {
  background-color: #a5b4fc; /* Цвет для диапазона при выборе */
  color: white;
}
.custom-calendar
  .react-datepicker__day--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ) {
  background: #b6bbeb;
}
.custom-calendar .react-datepicker__day--in-range {
  border-radius: 50%;
  background: #b6bbeb;
  color: black;
}
.react-datepicker__day--keyboard-selected {
  background-color: transparent;
}
.react-datepicker__year-select {
  border: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #acacac #f6f6f6;
}
.custom-scroll::-webkit-scrollbar-button {
  display: none;
}
.custom-calendar .react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  border-radius: 0.3rem;
  background-color: transparent;
}
